<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81364918086-eukjhkksr426h2v51egs75df18f4orko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81364918086-eukjhkksr426h2v51egs75df18f4orko</string>
	<key>API_KEY</key>
	<string>AIzaSyCsgXv7uPtaO11nzUGz7JBygK6ozC6lStA</string>
	<key>GCM_SENDER_ID</key>
	<string>81364918086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.onelemonyboi.frcScoutingApp</string>
	<key>PROJECT_ID</key>
	<string>sor6059scoutinga</string>
	<key>STORAGE_BUCKET</key>
	<string>sor6059scoutinga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81364918086:ios:d18b6bb45b8435da534f47</string>
</dict>
</plist>